{% extends 'base.html' %}

{% block content %}

<table class="table table-bordered>

<h1 class="text-center display-4 font-weight-bold font-italic"> Agregar un cliente </h1>

    <form class="form-control text-center" method ="POTS">{% csrf_token %}
        <div class="formulario_cliente" style="display: block;">
            {{form.as_p}}
            <input type="submit" class="btn btn-primary" value="Alta">
            <button><a href="{% url 'Cliente.app:Listado de clientes'%}">Volver</a></button>
        </div> 
    </form> 
</table>


{% endblock content %}